{
    margin: 0%;
    padding: 0%
   }
   
   header{
       background-color:rgb(17, 17 , 151);
       color: rgb(148, 8, 161);
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding: 10px;
     }
     .cabecalho-imagem {
       width: 1%;
   
     }
   
     .cabecalho-lista-item{
       display: inline-block;
       margin: 0 20px;
       font-size: 24px;
     }
      .escola-imagem{
        width: 50%;
      }
   
      .escola{
          background-image: linear-gradient(rgb(17, 17 , 151),rgb(148, 8, 161));
          color:aliceblue;
          display: flex;
          justify-content: center;
          padding: 30px 0;
      }
      .osurgimentodocolegio{
        width: 50%;
      }
       .banner{ 
        margin: 30px;
       }

      .escola-div-conteudo{
        width: 35%;
      }

      .somos-imagem{
        width: 280px;
      }

      .somos-imagem2{
        width: 280px;
      }

      .Quem {
        text-align: center;
        padding: 50px 0;
      }

      .somos-todos{
        display: grid;
        grid-template-columns: 60% 60%;
      }

      .rodape{
        background-color: blue;
        text-align: center;
      }

      .rodape-imagem{
        height: 80px;
        padding: 15px 0;
      }






