    {
    margin: 0%;
    padding: 0%
    }
   
   header{
       background-color:rgb(17, 17 , 151);
       color: rgb(148, 8, 161);
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding:10px;
     }

     .cabecalho-imagem {
       width: 25%;
     }
   
     .cabecalho-lista-item{
       display: inline-block;
       margin: 0 30px;
       font-size: 30px;
     }
      .escola-imagem{
        width: 50%;;
      }
   
      .escola{
          background-image: linear-gradient(rgb(17, 17 , 151),rgb(148, 8, 161));
          color:aliceblue;
          display: flex;
          justify-content: center;
          padding: 50px 0;
      }
      .osurgimentodocolegio{
        width: 50%;
      }
       .banner{ 
        margin: 40px;
       }

      .escola-div-conteudo{
        width: 55%;
      }

      .somos-imagem{
        width: 280px;
      }

      .somos-imagem2{
        width: 280px;
      }

      .Quem {
        text-align: center;
        padding: 140px 0;
      }

      .somos-todos{
        display: grid;
        grid-template-columns: 70% 70%;
      }

      .somos-imagem3{
        width: 140px;
      }

      .rodape{
        background-color: blue;
        text-align: center;
      }

      .rodape-imagem{
        height: 90px;
        padding: 30px 0;
      }






