{
    margin: 0%;
    padding: 0%
   }
   
   header{
       background-color:rgb(17, 17 , 151);
       color: rgb(8, 161, 161);
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding: 10px;
     }
     .cabecalho-imagem {
       width: 1%;
   
     }
   
     .cabecalho-lista-item{
       display: inline-block;
       margin: 0 16px;
       font-size: 24px;
     }
      .escola-imagem{
        width: 40%;
      }
   
      .escola{
          background-image: linear-gradient(rgb(17, 17 , 151),rgb(8, 161, 161));
          color:aliceblue;
          display: flex;
          justify-content: center;
          padding: 30px 0;
      }
       .banner{ 
        margin: 20px;
  
}

       .escola-div-conteudo{
         width: 35%;
       }

      .somos-imagem{
         width: 250px;
      }
         




